services:
  bot:
    build: .
    restart: always
    env_file:
      - .env
    deploy:
      resources:
        limits:
          cpus: '0.50' 
          memory: 512M
        reservations:
          cpus: '0.10'
          memory: 128M
