services:
  bot:
    build:
      context: ./services/bot
      dockerfile: Dockerfile
    restart: always
    env_file:
      - .env
    deploy:
      resources:
        limits:
          cpus: '0.50' 
          memory: 1024M
        reservations:
          cpus: '0.15'
          memory: 256M
  db_api:
    build:
      context: ./services/db_api
      dockerfile: Dockerfile
    restart: always
    env_file: .env
    expose:
      - "8000"
    deploy:
      resources:
        limits:
          cpus: '0.30'
          memory: 512M
        reservations:
          cpus: '0.15'
          memory: 256M